h1 {
    opacity: .7;
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}
.container p {
    opacity: .9;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
}

.colums{
    margin: 20px 0 0 200px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
}