.container{
}

.button_category{
    margin: 30px 15px 0 15px;
    width: 175px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    border-color: #e26d63;
    background-color: transparent;
    color: #e26d63;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center
}
.link_category{
    color: #e26d63;
    text-decoration: none;
}
.link_category:hover {
    color: #e26d63;
    text-decoration: none;
}
.link_category:active {
    color: #ffff;
    text-decoration: none;
}